* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-image: url('img1.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  h1 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 50px;
    color:#f6c324;
    
     /* Deep purple heading */
    font-family: 'Georgia', serif; /* Elegant Serif font */
    text-align: center;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn {
    text-decoration: none;
    background-color: #498896; /* Dark pink with 80% opacity */
    color: #FFFFFF; /* White text for the button */
    padding: 15px 30px;
    margin: 10px 0;
    border-radius: 5px;
    border:0.5px solid rgb(200, 213, 219);
    font-size: 1.5rem;
    transition: background-color 0.3s;
    width: 200px;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Clean Sans-serif font for buttons */
  }
  
  .btn:hover {
    background-color: #98c3cd; /* Darker pink on hover with 90% opacity */
  }
  