<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mess Rebate And Token System | Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Added a favicon -->
	{{!-- <link rel="icon" type="image/x-icon" href="images\pathsphere.png"> --}}

    
    <link rel="stylesheet" href="/style(s).css">
    {{!-- <link rel="stylesheet" href="/header.css"> --}}
</head>
<!-- Add an ID to the body tag or a specific class to the blog section -->
<body id="blog-page"> <!-- or class="blog-page" -->
     <header>

        <nav id="navbar"> <!-- Add an ID to the nav -->
            <a href="index.html" class="logo">Mess Rebate And Token System</a>

             <ul>
                <li><a href="/adminhome">Home</a></li>
                <li><a href="/adminmenu">Menu</a></li>
                <li><a href="/adminfeedback">Feedback</a></li>
                <li><a href="/adminnotification">Notification</a></li>
                <li><a href="/adminrebates">Rebates</a></li>
                <li><a href="/adminsearch">Attendance</a></li>
                <li><a href="/adminform">Forms</a></li>
            </ul>


        </nav>
    </header>
   

    <main>

 <section class="hero">
            <div class="left">
                <h1>Admin</h1>
            <h1>Welcome to IIIT-A Mess</h1>
            <p>Take A Break And Enjoy Your Meal</p>

            
    </main>
    <div class="footer-container">
        <div class="footer-description">
            <h3>Mess Rebate And Token System</h3>
            <p>The Mess Rebate and Token System is a streamlined platform for managing meals in educational institutions. It allows students to track meal preferences, monitor rebates on unused meals, and use tokens for purchases. With user-friendly interfaces for both students and administrators, it enhances dining convenience and ensures efficient resource allocation..</p>
        </div>
        <div class="footer-list">
            <h3>Quick links</h3>
            <ul>
                <li><a href="/adminhome">Home</a></li>
                <li><a href="/adminmenu">Menu</a></li>
                <li><a href="/adminfeedback">Feedback</a></li>
                <li><a href="/adminnotification">Notification</a></li>
                <li><a href="/adminrebates">Rebates</a></li>
                <li><a href="/adminattendance">Attendance</a></li>
            </ul>
        </div>
        <div class="footer-list">
            <h3>Follow us on</h3>
            <ul class="social-icons">
                <li><a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://x.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">&copy; 2024 PathSphere. All rights reserved.</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/script.js"></script>
    
</body>
</html>
