<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mess Rebate and Token System</title>
  <link rel="stylesheet" href="/home.css">
</head>
<body>
  <div class="container">
    <h1>MESS REBATE AND TOKEN SYSTEM</h1>
    <div class="button-container">
      <a href="/login" class="btn">Admin</a>
      <a href="/login1" class="btn">Student</a>
      <a href="/login2" class="btn">Warden</a>
    </div>
  </div>
</body>
</html>
