<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/login.css">

</head>
<body>
      <section class="hero" id="home">
        <div class="container">
    <div class="wraper" style="margin-top: -100px;">
            <div class="form-container">
               
               <h1 style="text-align: center;">SignUp</h1>
               <div class="form-inner">
                  <form action="/signup" class="login" method="post">
                     <div class="field">
                        <input type="text" name = "name" placeholder="name" required>
                     </div>
                     <div class="field">
                        <input type="password" name = "password" placeholder="Password" required>
                     </div>
                     <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="SignUp">
                     </div>
                     <br>
                     Already Have an account? <a href="/login" style="text-decoration:none">Login</a>
                  </form>
                  
               </div>
            </div>
         </div>
         
        </div>
</body>
</html>